<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filenames</key>
	<dict>
		<key>CCB/SpriteSheet/activity.png</key>
		<string>CCB/SpriteSheet/activity.pnggl</string>
		<key>CCB/SpriteSheet/hud.png</key>
		<string>CCB/SpriteSheet/hud.pnggl</string>
		<key>CCB/SpriteSheet/newspaper.png</key>
		<string>CCB/SpriteSheet/newspaper.pnggl</string>
		<key>CCB/UI/100.png</key>
		<string>CCB/UI/100.pnggl</string>
		<key>CCB/UI/50018.png</key>
		<string>CCB/UI/50018.pnggl</string>
		<key>CCB/UI/50050.png</key>
		<string>CCB/UI/50050.pnggl</string>
		<key>CCB/UI/50051.png</key>
		<string>CCB/UI/50051.pnggl</string>
		<key>CCB/UI/50052.png</key>
		<string>CCB/UI/50052.pnggl</string>
		<key>CCB/UI/50053.png</key>
		<string>CCB/UI/50053.pnggl</string>
		<key>CCB/UI/50054.png</key>
		<string>CCB/UI/50054.pnggl</string>
		<key>CCB/UI/50055.png</key>
		<string>CCB/UI/50055.pnggl</string>
		<key>CCB/UI/50056.png</key>
		<string>CCB/UI/50056.pnggl</string>
		<key>CCB/UI/50057.png</key>
		<string>CCB/UI/50057.pnggl</string>
		<key>CCB/UI/bubble.png</key>
		<string>CCB/UI/bubble.pnggl</string>
		<key>CCB/UI/invite.png</key>
		<string>CCB/UI/invite.pnggl</string>
		<key>CCB/UI/logo.png</key>
		<string>CCB/UI/logo.pnggl</string>
		<key>CCB/UI/logo0.png</key>
		<string>CCB/UI/logo0.pnggl</string>
		<key>CCB/UI/logolabel.png</key>
		<string>CCB/UI/logolabel.pnggl</string>
		<key>CCB/UI/ren.png</key>
		<string>CCB/UI/ren.pnggl</string>
		<key>CCB/UI/tipsBg.png</key>
		<string>CCB/UI/tipsBg.pnggl</string>
		<key>Comic/Opening-1.png</key>
		<string>Comic/Opening-1.pnggl</string>
		<key>Edit/delete.png</key>
		<string>Edit/delete.pnggl</string>
		<key>Edit/disk.png</key>
		<string>Edit/disk.pnggl</string>
		<key>Edit/dot.png</key>
		<string>Edit/dot.pnggl</string>
		<key>Icons/Icons.png</key>
		<string>Icons/Icons.pnggl</string>
		<key>Logo/logo.png</key>
		<string>Logo/logo.pnggl</string>
		<key>Spines/Animal-1.png</key>
		<string>Spines/Animal-1.pnggl</string>
		<key>Spines/Building-1.png</key>
		<string>Spines/Building-1.pnggl</string>
		<key>Spines/Effect-1.png</key>
		<string>Spines/Effect-1.pnggl</string>
		<key>Spines/Loading-1.png</key>
		<string>Spines/Loading-1.pnggl</string>
		<key>Spines/Nature-1.png</key>
		<string>Spines/Nature-1.pnggl</string>
		<key>Spines/Npc-1.png</key>
		<string>Spines/Npc-1.pnggl</string>
		<key>Spines/Tutorial-1.png</key>
		<string>Spines/Tutorial-1.pnggl</string>
		<key>TileMaps/tilemap.png</key>
		<string>TileMaps/tilemap.pnggl</string>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
